#brands {
    width: 1700px;
    height: auto;
    margin: 50px auto 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.brand-item {
    width: 400px;
    height: 400px;
    border: 1px solid #2e3cff;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-logo {
    width: 400px;
    height: 400px;
}

.brand-models-wrapper {
    display: none;
}

.brand-item:hover > .brand-logo {
    display: none;
}

.brand-item:hover > .brand-models-wrapper {
    display: block;
}

.brand-models-wrapper > ul {
    list-style-type: none;
}

.brand-models-wrapper > ul > li {
    margin: 20px;
}

.brand-model {
    text-decoration: none;
    font-size: 30px;
}

.brand-model:hover {
    text-decoration: underline;
}

.brand-model:visited {
    text-decoration: none;
    color: #2e3cff;
}
