footer {
    color: #ffffff;
    margin-top: 50px;
    padding: 20px;
    border-top: 1px solid #2e3cff;
}

#footer-content {
    margin-left: 40px;
    display: flex;
}

#salon-image-wrapper {
    display: inline;
    width: 450px;
    height: 220px;
}

.footer-info {
    margin-left: 10px;
    width: 300px;
    padding: 0 10px 10px 10px;
}

.info-title {
    padding: 0 2px 2px 2px;
    font-size: 22px;
    font-family: Satislfy, serif;
    color: #2e3cff;
}