header {
    padding: 10px;
    border-bottom: 1px solid #2e3cff;
}

#header-content {
    display: flex;
    justify-content: space-between;
}

#header-menu {
    display: flex;
    align-items: center;
}

.header-menu-item {
    padding: 0 20px 0 20px;
}

#header-title {
    font-family: Satislfy, serif;
    font-size: 40px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2e3cff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2e3cff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}